<div class="row">
    <div class="col-md-offset-2 col-md-8">
   		<h1>My Gitstash Repositories</h1>

		<div class="table responsive">
			<table id="repo-table" class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th><input type="checkbox" name="my-checkbox" class="js-switch" id="select-all"></th>
					</tr>
				</thead>

				<tbody>
					{{#each repos}}
						<tr>
							<td>{{full_name}}</td>
							<td>{{description}}</td>
							<td><input type="checkbox" name="my-checkbox" class="js-switch" data-github-id="{{id}}" /></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="text-center">
			<nav>
				<ul class="pagination" >
					{{#if notFirstPage}}
						<li>
							<a href="?page={{prevPage}}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{{/if}}

					{{#for 1 maxPage 1}}
						<li><a href="?page={{this}}">{{this}}</a></li>
					{{/for}}

					{{# if notLastPage}}
						<li>
							<a href="?page={{nextPage}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{{/if}}
				</ul>
			</nav>
		</div>
	</div>
</div>
